@import '../../../scss/variables';
@import '../../../scss/mixins';

.city-selection {
  @include centralize();
  &__fit-area {
    @include fit_on_screen();
  }
  &__interaction-area {
    padding: 16px;
  }
  &__clickable_city {
    padding: 4px;
  }
  &__city {
    color: $sky-blue;
    cursor: pointer;
    font-size: 1.5rem;
  }
  a {
    text-decoration: none;
  }
}
