@import '../../../scss/variables';
@import '../../../scss/mixins';

.city-info {
  @include centralize();

  &::after {
    content: '';
    width: 100%;
  }
  &:last-child { /* or `:nth-child(n + 4)` */
    order: 1;
  }

  &__city-name {}

  &__row-area {
    @include fit_large_on_screen();
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__block {
    width: 280px;
    height: 200px;

    padding: 4px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__icon {
    color: $celeste;
    font-size: 8em;
  }

  &__temperature-block {
    display: flex;
    flex-direction: row;
    padding: 4px;
  }

  &__temp-item {
    padding: 0 10px 2px 10px;
  }

  &__font {
    font-size: 1em;
    color: $celeste;
    &--tiny {
      font-size: 1em;
    }
    &--thick {
      font-size: .5em;
    }
    &--thick {
      font-size: .5em;
    }
    &--normal {
      font-size: 1.5em;
    }
    &--normal-short {
      font-size: 1.25em;
    }
    &--large {
      font-size: 2.5em;
    }

    &--lighter {
      font-weight: 100;
    }
  }

  // Colors
  &--deep-blue {
    color: $deep-blue;
  }
  &--sky {
    color: $sky-blue;
  }
  &--blue {
    color: $blue;
  }
  &--celeste {
    color: $celeste;
  }
}
