@import '../../../scss/variables';
@import '../../../scss/mixins';

.city-creation {
  @include centralize();
  &__button-area {
    display: flex;
    align-content: flex-end;
    justify-content: flex-end;
  }
  &__button {
    text-transform: uppercase;
    color: $celeste;
    cursor: pointer;
  }
  &__fit-area {
    @include fit_on_screen();
  }
}
