@mixin placeholder-color($color) {
  &::-webkit-input-placeholder { /* WebKit browsers */
      color: $color;
  }
  &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: $color;
  }
  &::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: $color;
  }
  &:-ms-input-placeholder { /* Internet Explorer 10+ */
      color: $color;
  }
}

.smart-select {
  height: 346px;
  display: flex;
  flex-direction: column;
  padding: 32px;
  &__input {
    input {
      @include placeholder-color(red);
    }

    border: transparent;
    border-bottom: 1px solid #3893b1;
    background: transparent;
    color: #267DBD;
    outline: none;
    font-size: 1.75rem;

    -webkit-box-shadow: 0 0 0 30px #132434 inset !important;
    -webkit-text-fill-color: #267DBD !important;
  }
  &__select-area {
    padding: 16px 0;
    display: flex;
    flex-direction: column;
  }
  &__select-item {
    display: flex;
    align-content: flex-start;
    padding: 2px;
    cursor: pointer;
  }
  &__option {
    font-size: 1.75em;
    color: #3893B1;
    &--highlight {
      color: #93b7cc;
      background: none;
      font-family: 'Roboto', sans-serif;
      font-weight: 600;
      font-size: 1.75rem;
    }
  }
}
