.label-selectable {
  display: flex;
  flex-direction: column;
  padding: 8px;
  &__label {
    color: #267dbd;
    text-transform: uppercase;
    font-size: 0.5em;
  }
  &__input {
    border: transparent;
    border-bottom: 1px solid #3893b1;
    background: transparent;
    color: #93b7cc;
    outline: none;
    font-size: 1.25em;

    -webkit-box-shadow: 0 0 0 30px #132434 inset !important;
    -webkit-text-fill-color: #93b7cc !important;
  }
}
