@import '../../scss/variables';

.return-button {
  z-index: 100000000;
  &--floating-top-left {
    z-index: 100000000;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 32px;
    top: 16px;
  }
}
