@import '../../../scss/variables';
@import '../../../scss/mixins';

.login-scene {
  @include centralize();
  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  &__button, a {
    background: transparent;
    border: transparent;
    outline: none;
    cursor: pointer;
    color: $celeste;
    font-size: 1em;
    text-transform: uppercase;
    margin: 8px;
    margin-left: auto;
    text-decoration: none;
    &--fix {
      padding-right: 16px;
    }
  }
  &__form {
    @include fit_on_screen();
  }
}

.wrap div:last-child {
  margin-left: auto;
}
