@import '../../../scss/variables';
@import '../../../scss/mixins';

.rgister-scene {
  @include centralize();
  &__register-form {
    @include fit_on_screen();
  }
  &__button {
    background: transparent;
    border: transparent;
    outline: none;
    cursor: pointer;
    color: $celeste;
    font-size: 1em;
    text-transform: uppercase;
    margin: 8px;
    margin-left: auto;
    text-decoration: none;
  }
  &--padded {
    padding: 0 10px;
  }
}
