@import './scss/variables';

.App {
  &__content {
    text-align: center;
    background-color: $undersea;
    padding: 0;
    height: calc(100%);
    overflowY: scroll;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
