@mixin centralize {
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center; /*centers items on the line (the x-axis by default)*/
  align-items: center; /*centers items on the cross-axis (y by default)*/
  flex-direction: column;
}

@mixin fit_on_screen {
  width: 100%;
  max-width: 410px;
}

@mixin fit_large_on_screen {
  width: 100%;
  max-width: 1000px;
}
